In [35]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import os
os.chdir("/Users/oanottage/Desktop/BTS/Data Science Foundations/DSFinal/")

In [36]:
ciutat = pd.read_csv("data/raw/Ciutat Vella.csv", encoding="utf-16", sep="\t")
eixample = pd.read_csv("data/raw/Eixample.csv", encoding="utf-16", sep="\t")
gracia = pd.read_csv("data/raw/Gracia.csv", encoding="utf-16", sep="\t")

In [37]:
ciutat

             Area International Phone Number   Latitude  Longitude
0    Ciutat Vella           +34 976 24 16 53  41.390142   2.169835
1    Ciutat Vella           +34 938 36 33 07  41.388389   2.168717
2    Ciutat Vella           +34 938 29 93 36  41.391270   2.172490
3    Ciutat Vella           +34 938 28 83 12  41.389466   2.165171
4    Ciutat Vella           +34 937 07 29 98  41.392059   2.173943
..            ...                        ...        ...        ...
98   Ciutat Vella           +34 649 85 78 81  41.390142   2.169835
99   Ciutat Vella           +34 620 83 32 28  41.387953   2.164882
100  Ciutat Vella           +34 616 38 48 32  41.390142   2.169835
101  Ciutat Vella           +34 613 01 71 94  41.389241   2.163617
102  Ciutat Vella           +34 610 01 77 86  41.393269   2.175152

[103 rows x 4 columns]

In [38]:
eixample

          Area International Phone Number   Latitude  Longitude
0     Eixample            +44 1422 400776  41.394300   2.166313
1     Eixample           +34 973 18 44 35  41.394286   2.156559
2     Eixample           +34 958 80 83 00  41.395655   2.175784
3     Eixample           +34 938 87 74 05  41.391693   2.166097
4     Eixample           +34 938 87 25 25  41.395893   2.158151
...        ...                        ...        ...        ...
1921  Eixample           +34 602 04 45 31  41.391856   2.158723
1922  Eixample           +34 601 36 23 64  41.398535   2.152370
1923  Eixample           +34 601 19 14 44  41.400571   2.166512
1924  Eixample           +34 600 44 45 55  41.390566   2.160183
1925  Eixample           +34 600 36 83 64  41.400099   2.159404

[1926 rows x 4 columns]

In [39]:
gracia

       Area International Phone Number   Latitude  Longitude
0    Gràcia           +34 938 32 25 28  41.404692   2.156602
1    Gràcia           +34 937 37 65 15  41.403877   2.157015
2    Gràcia           +34 936 81 59 83  41.403205   2.154199
3    Gràcia           +34 936 67 04 89  41.402649   2.157932
4    Gràcia           +34 936 33 94 92  41.402891   2.160174
..      ...                        ...        ...        ...
129  Gràcia           +34 605 11 40 51  41.406276   2.162128
130  Gràcia           +34 602 50 19 59  41.403091   2.159346
131  Gràcia           +34 602 33 57 51  41.403917   2.156939
132  Gràcia           +34 601 18 16 56  41.406168   2.162043
133  Gràcia                        NaN  41.404800   2.156590

[134 rows x 4 columns]

In [40]:
combined_df = pd.concat([ciutat, eixample, gracia], axis=0)

In [41]:
combined_df

             Area International Phone Number   Latitude  Longitude
0    Ciutat Vella           +34 976 24 16 53  41.390142   2.169835
1    Ciutat Vella           +34 938 36 33 07  41.388389   2.168717
2    Ciutat Vella           +34 938 29 93 36  41.391270   2.172490
3    Ciutat Vella           +34 938 28 83 12  41.389466   2.165171
4    Ciutat Vella           +34 937 07 29 98  41.392059   2.173943
..            ...                        ...        ...        ...
129        Gràcia           +34 605 11 40 51  41.406276   2.162128
130        Gràcia           +34 602 50 19 59  41.403091   2.159346
131        Gràcia           +34 602 33 57 51  41.403917   2.156939
132        Gràcia           +34 601 18 16 56  41.406168   2.162043
133        Gràcia                        NaN  41.404800   2.156590

[2163 rows x 4 columns]

In [42]:
combined_df = combined_df[combined_df["International Phone Number"].notnull()]

In [43]:
combined_df.to_csv("data/processed/business_districs.csv", index=False)